/*#boton {
    background: plum;
    color: #ffffff;
}*/

.programacion {
    color: royalblue;
}

.basesdeDatos {
    color: brown;
}

.desarrolloWeb {
    color: green;
}

.contenedor {
    background: gainsboro;
    text-align: center;
}