/* Aplicar cambios a todos los elementos */
p {
    background: gainsboro;
    color: blueviolet;
}

/* Aplicar los cambios a mas de un elemento, separamos por usando coma ,
p, li {
    background: gainsboro;
    color:blueviolet;
}

/* Aplicar cambios a elementos que están dentro de otros */

header p {
    background: blueviolet;
    color: white;
}

/* Aplicar cambios a un único elemento dentro de un elemento padre */
section>p {
    background: palegoldenrod;
}

/* Aplicar cambios al elemento que se encuentre después de h2 */
h2+li {
    background: greenyellow;
}

/* Aplicar cambios a todos los elementos después de h2 */
h2~li {
    background: olivedrab;
}